[submodule "native/BugsnagBinding/bugsnag-cocoa"]
	path = native/BugsnagBinding/bugsnag-cocoa
	url = https://github.com/bugsnag/bugsnag-cocoa
[submodule "bugsnag-cocoa"]
	path = bugsnag-cocoa
	url = https://github.com/bugsnag/bugsnag-cocoa
