<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="maui-nativelibraryinterop" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/maui-nativelibraryinterop/nuget/v3/index.json" />
        <add key="Ramsey Solutions" value="https://pkgs.dev.azure.com/RamseySolutions/_packaging/RamseySolutions/nuget/v3/index.json" />
    </packageSources>
</configuration>